@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__main-illustration/lead__main-illustration.css);
@import url(./__text/lead__text.css);


.lead {
  padding: 0 100px 0;
  margin: auto;
}


@media screen and (max-width: 1024px){
  .lead {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px){
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 0;
  }
}