.places__item {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-columns: 484px minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  padding-top: 80px;
}

@media screen and (max-width: 1024px){
  .places__item {
    grid-template-columns: 440px minmax(min-content, max-content);
    grid-column-gap: 32px;
    padding-top: 84px;
  }
}

@media screen and (max-width: 768px){
  .places__item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 28px;
    padding-top: 72px;
  }
}

@media screen and (max-width: 320px) {
  .places__item {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 48px;
  }
}